*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
    font-size: 2em;
}

/*
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 100;
    font-style: oblique;
    text-transform: capitalize;
    text-decoration: underline;
    line-height: 20px;
    text-align: justify;
    text-indent: 100px;
    letter-spacing: -1px;
    word-spacing: 5px;
    text-shadow: 7px 2px 10px rebeccapurple;
}*/

.parent{
    font-size: 30px;
}

.child{
    font-size: 2em;
    color: red;
    font-family: 'Julius Sans One', sans-serif;
}